.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-comp_1 {
  width: 0.900390625em;
}

.icon-comp_2 {
  width: 0.76953125em;
}

.icon-comp_3 {
  width: 0.953125em;
}

.icon-comp_4 {
  width: 1.8603515625em;
}

.icon-comp_5 {
  width: 1.2548828125em;
}

.icon-comp_6 {
  width: 1.9345703125em;
}

.icon-email_logo {
  width: 1.3330078125em;
}

.icon-Vector_phone {
  width: 0.625em;
}

.icon-Vector_phone1 {
  width: 0.625em;
}
